.authContainer{
    background-image:url('../../assets/images/2.jpeg');
    background-position:center center;
    background-size:100% 100%;
    background-repeat: no-repeat;
     width: 100%;
  height: 100vh;
 
}
.bgOverlay{
    background:linear-gradient(rgba(72, 161, 121, 0.4),rgba(0,0,0,0.5));
    width: 100%;
    height: 100%;
   
}