body{
overflow-x: hidden;
}
.mainSection {
  overflow-x: hidden; 
}
.mainSection h1{
  color:var(--main-color)
}
.item{
    width:100%;
    height:200px;
border: 1px solid rgba(27,31,35,0.15);
border-radius: 8px;
display: flex;
justify-content: baseline;
align-items: center;
flex-direction: column;
}
.item img{
  width:100%;
  height:50%;
  border-radius: 8px 8px 0 0;
}
.item h5{
  color:var(--main-color);
  margin:2rem;
  font-size:1rem
}
.modalWide {
  max-width: 75% !important; /* خليه 95% أو أي قيمة */
  width: 75% !important;
  margin: auto;
  margin-top: 30px;
}
