.navlogo {
    width: 200px;
    height: 150px;
  }
  
  .nav {
    height: 50px;
    background-color:rgba(0, 0, 0, 0.1);
    z-index: 10;
  }

  .text-english a{
    color:black !important;
    background-color: black;
    }
  .navListSmall {
    padding-top: 20px;
    background-color: var(--main);

    width: 100vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 5px;
    position: absolute;
    top: 60px;
    left: 0;
    right: 0;
    transition: all 0.3s linear;
    
  }
  
  .navListSmall > * {
    padding: 10px 0px;
    color: rgb(255, 255, 255) !important;
  }
  
  .nav button {
   
    padding: 2px 10px;
  }
.btn1 {
  color: var(--main);
  
  border: none;
  background-color: transparent;
  font-family: "Ruwudu", serif;
  font-weight: bolder;
  font-size: 1.4rem;
  cursor: pointer;
}