.container {
  height: 80vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: white;
  color: white;
  font-family: 'Cairo', sans-serif;
}

.masbahaBox {
  background: var(--main);
  border-radius: 30px;
  padding: 40px 60px;
  display: flex;
  
  align-items: center;
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.3);
  width:100%;
  height:100%;
  margin:80px 0 0 0;
}

.main {
  font-size: 4rem;
  font-weight: bold;
   background: var(--main);
  color: #ffffffff;
  border-radius: 50%;
  width: 100%;
  height: 150px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 20px;
}

.buttons {
  display: flex;
  gap: 10px;
  margin:15px;
  

}

.increase,
.decrease {
  font-size: 2rem;
  width: 60px;
  height: 60px;
  border-radius: 50%;
  border: none;
  cursor: pointer;
  transition: 0.3s;
}

.increase {
  background: #06d6a0;
  color: white;
}

.decrease {
  background: #ef476f;
  color: white;
}

.increase:hover {
  background: #05c08f;
}

.decrease:hover {
  background: #d93a63;
}

.reset {
  margin-top: 30px;
  padding: 10px 30px;
  font-size: 1.2rem;
  background: #ffd166;
  color: #000;
  border: none;
  border-radius: 20px;
  cursor: pointer;
  transition: 0.3s;
}

.reset:hover {
  background: #fcca46;
}
