
:root{
  font-family: "Cairo", serif;
--bg:#F7F3EE; 
--card:#FFFFFF;
--main:#1F5B3A; 
--second:#C59A3A;
--muted:#7A736B;
--radius:14px;
}
 body, p, a,.text-class {
    
  font-family: "Noto Kufi Arabic", sans-serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
  }
  body{
    background:var(--bg);
color:#1E2933;
-webkit-font-smoothing:antialiased;
-moz-osx-font-smoothing:grayscale;
line-height:1.6;
  }
  a {
    font-weight:500;
    font-size:1.2rem;
    text-decoration:none;
    color:var(--main);
  }
  a:hover{
    color:var(--second)
  }
  *{
    padding:0;
    margin:0
  }

  .navLink {
  color: #fff; /* default color */
  text-decoration: none;
  font-weight: 500;
  transition: color 0.3s ease;
}

.navLink:hover {
  color: var(--second); /* hover color */
}

.active {
  color: var(--main) ; /* active link color */
  font-weight: bolder;
  border-bottom: 2px solid var(--second); /* optional highlight */
}
